[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydocstyle = "*"
pep8 = "*"

[packages]
django = "*"
django-heroku = "*"
psycopg2 = "==2.7.7"
coverage = "*"
coveralls = "*"
psycopg2-binary = "*"
validate-email = "*"
gunicorn = "*"
social-auth-app-django = "*"

[requires]
python_version = "3.7"
